{% extends 'base.html' %}}

{% block content %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th>IMDB Rating</th>
        <th>Metascore</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
      <tr>
        <td>
        <a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a>
        </td>
        <td>{{movie.release_year}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.imdb_rating}}</td>
        <td>{{movie.meta_score}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}