{% extends 'base.html' %}}

{% block content %}
<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Genre</th>
          <th>IMDB Rating</th>
          <th>Metascore</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
        <tr>
          <td>
          <a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a>
          </td>
          <td class="margin">{{movie.release_year}}</td>
          <td class="margin">{{movie.genre}}</td>
          <td class="margin">{{movie.imdb_rating}}</td>
          <td class="margin">{{movie.meta_score}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}