@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 900px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .margin {
    text-align: right;
    margin-bottom: 10px;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;

  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
  }

  td:nth-of-type(1):before {
    content: "Title:";
  }

  td:nth-of-type(2):before {
    content: "Year:";
  }

  td:nth-of-type(3):before {
    content: "Genre:";
  }

  td:nth-of-type(4):before {
    content: "IMDB Rating:";
  }

  td:nth-of-type(5):before {
    content: "Metascore:";
  }

}